 <div class="container">   
    <div class="row" style="justify-content: center;">
        <div class="card" style="width: 18rem;" ng-repeat="personagem in vm.responseSearch">
            <img class="card-img-top" src={{personagem.foto}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{personagem.name}}</h5>
                <p class="card-text">{{personagem.description}}</p>
                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_open" ng-click="vm.getComicsList(personagem.id)" >APARECE EM</a>
                <!-- <button class="btn btn-danger margin-total" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Histórias</button> -->
            </div>
            
        </div>

         
    </div>
</div>


<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Histórias</h5>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                    aria-label="Close">X</button>
            </div>
            <div class="modal-body" ng-repeat="storie in vm.resultado.stories.items">
                <a href="" style="color: black;">
                    <span> {{storie.name}}</span>
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->


<div id="modal_open"  class="modal fade" role="document" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>TÍTULO</th>
                        <th>DESCRIÇÃO</th>
                        <th>ATUALIZADO EM</th>
                
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="comics in vm.responseComics">
                        <td>
                            {{comics.title}}
                        </td>
                        <td>
                            {{comics.description}}
                        </td>
                        <td>
                            {{comics.modified | formatarTimeStamp}}
                        </td>
                    </tr>
                </tbody>
            </table>
        
                
        </div>
    </div>
</div> 
            
