
 <div class="container">
    <div class="row">
        <img style="margin-left: auto; margin-right:auto ;" class ="cabecalhoMarvel" src="../marvel-logo-4.png">
    </div>
    <!-- SEARCH -->
    <div class="center">
        <form class="example">
            <input type="text" placeholder="Search..." name="search" ng-model="vm.name">
            <button type="submit" ng-click="vm.searchCharacter()"><i class="fa fa-search"></i></button>
            </form>

            <button class="btn btn-danger" ng-click="vm.deslogar()">DESLOGAR</button>
    </div>
 </div>   
   