<form  name="myForm" id="myForm" ng-submit="vm.login(vm.user, vm.senha)">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card px-5 py-5">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Usuário</label>
                        <input class="form-control" id="exampleFormControlInput1" autocomplete="off" type="text" ng-model="vm.user">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput2">Senha</label>
                        <input class="form-control" id="exampleFormControlInput2" autocomplete="off" type="password" ng-model="vm.senha">
                    </div>
                    <div>
                        <div class="mb-2"> <button type="submit" class="btn btn-primary w-100">Entrar</button></div>
                    </div> 
                    <div ng-if="vm.handleLogin && myForm.$submitted">
                        <p class="error-login"> Usuário ou senha incorretos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>